$content-width: 85%;

.content {
	
	height: inherit;
	margin: auto;
	overflow: auto;
	width: 100%;
	
	@include mediaQuery(600px){
		
		width: 75%;
		
	}

	table {
		
		border: 1px solid black;
		margin: 1rem 0;
		padding: 1rem;
		width: 100%;
		
		th, td {
			
			border: 1px solid black;
			max-width: 1rem;
			padding: 1rem;
			text-align: center;
			
		}
		
	}
	
}